/* Reset */

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
}

/* Custom properties */

:root {

    /* Color scheme */
    --color-white: #fff;
    --color-grey: #444;
    --color-dark-grey: #222;
    --color-turquoise: #014040;
    --color-dark-turquoise: #012326;
    --color-light-green: #9FC131;
    --color-dark-green: #84A314;
    
    /* Fonts */
    --font-size: 16px;
    --font-scale: 1.333;

    /* Font Scale */
    --font-size-1: var(--font-size); /*16px*/
    --font-size-2: calc(var(--font-size-1) * var(--font-scale)); /*21.33px*/
    --font-size-3: calc(var(--font-size-2) * var(--font-scale)); /*28.43px*/
    --font-size-4: calc(var(--font-size-3) * var(--font-scale)); /*37.9px*/
    --font-size-5: calc(var(--font-size-4) * var(--font-scale)); /*50.52px*/
    --font-size-6: calc(var(--font-size-5) * var(--font-scale)); /*67.34px*/
    --font-size-7: calc(var(--font-size-6) * var(--font-scale)); /*89.76px*/
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-sans);
}

h1 {
    font-size: var(--font-size-6);
}

h2 {
    font-size: var(--font-size-5);
}

h3 {
    font-size: var(--font-size-4);
}

h4 {
    font-size: var(--font-size-3);
}

h5 {
    font-size: var(--font-size-2);
}

h6 {
    font-size: var(--font-size-1);
}

/* Body img */

body {
    background-color: #d9d9d9;
}

/* Header */

.site-header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 50px;
    z-index: 99;   
}

/* Menu */

.menu__list,
.icon__list {
    display: flex;
    font-family: var(--font-sans);
    gap: 5rem;
    list-style: none;
}

.menu__link {
    color: var(--color-white);
    text-decoration: none;
    transition: all 0.4s;
}

/* Menu icons */

.icon__list {
    gap: 1rem;
}

.icon__link {
    transition: all 0.4s;
}

/* Menu hover effects */

.menu__link:hover,
.icon__link:hover {
    border-bottom: 1px solid var(--color-light-green);
}

/* Device menu (1024px and less) */

.menu-button {
   display: none;
}

.device-menu {
    position: fixed;
    background-color: var(--color-dark-grey);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 98;
    display: none;
}

.device-menu .menu__list {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding-top: 3rem;
}

.device-menu .menu__link {
    font-size: var(--font-size-2);
}

.device-menu.open {
    display: flex;
}

/* Hero layout grid */

.hero,
.sunglasses {
    display: grid;
    grid-template-columns: minmax(32px, 1fr) [inner-start] minmax(0, 97rem) [inner-end] minmax(32px, 1fr);
}

.hero__inner,
.sunglasses__inner {
    grid-column: inner;
}

/* HERO SECTION */

/* Hero content */

.hero {
    background-image: url(assets/images/hero-bg.jpg);
    background-size: cover;
    background-position: center -60px;
    background-repeat: no-repeat;
}

.hero__content {
    margin: 10rem 2rem;
    margin-bottom: 5rem;
    max-width: 65rem;
}

.hero__title {
    font-size: var(--font-size-7);
    color: var(--color-white);
    line-height: 1.4;
    margin: 0;
}

.hero__title span,
.hero__ingress span {
    color: var(--color-light-green);
}

.hero__ingress {
    font-size: var(--font-size-2);
    color: var(--color-white);
    line-height: 1.5;
    max-width: 40rem;
    margin-top: 2rem;
}

/* Hero buttons */

.hero__buttons {
    display: flex;
    gap: 2rem;
}

.button-green,
.button-white {
    margin-top: 2rem;
    padding: 15px 50px;
    text-decoration: none;
    border-radius: 5px;
    color: var(--color-white);
    transition: all 0.4s;
}

.button-green {
    background-color: var(--color-dark-green);
}

.button-white {
    border: 1px solid white;
}

/* Hero buttons hover effects */

.button-green:hover {
    background-color: var(--color-light-green);
}

.button-white:hover {
    background-color: var(--color-white);
    color: var(--color-dark-grey);
}

/* SUNGLASSES SECTION */

.sunglasses {
    background-color: #d9d9d9;
    padding: 20px 0;
}

.best-sellers {
    margin: 1rem 0;
    margin-bottom: 2rem;
    text-align: center;
    letter-spacing: 3px;
}

/* SWIPER */

.swiper {
    width: 100%;
    min-height: 300px;
}

.swiper-wrapper {
    margin-bottom: 2rem;
}

.swiper-slide {
    display: flex;
}

.sunglasses__inner {
    margin: 0 2rem;
    position: relative;
    --swiper-navigation-sides-offset: -40px;
    --swiper-navigation-color: var(--color-dark-green);
    --swiper-pagination-color: var(--color-light-green);
    --swiper-pagination-bottom: 0;
}

.sunglasses__slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
    padding: 25px;
    background-color: var(--color-white);
    border-radius: 5px;
}

.sunglasses__description {
    text-align: center;
}

.sunglasses__name {
    font-weight: bold;
}

.sunglasses__price {
    margin-bottom: 0.5rem;
}

.sunglasses__button {
    padding: 5px 15px;
    background-color: var(--color-dark-green);
    color: var(--color-white);
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.4s;
}

.sunglasses__button:hover {
    background: var(--color-light-green);
}

/* RESPONSIVE SECTION */

/* 1650 PX */

@media screen and (max-width: 1650px) {

    .sunglasses__slide {
        justify-content: space-evenly;
    }

    .hero {
        background-position: center 0;
    }
}

/* 1400 PX */

@media screen and (max-width: 1400px) {

    .sunglasses__slide {
        padding: 10px;
    }

    .hero__title {
        font-size: var(--font-size-6);
        max-width: 50rem;
    }
    
    .hero__ingress {
        font-size: var(--font-size-1);
        max-width: 30rem;
    }

    .button-green,
    .button-white {
        padding: 10px 30px;
    }
}

/* 1200 PX */

@media screen and (max-width: 1200px) {


    .hero__title {
        font-size: var(--font-size-5);
        max-width: 37rem;
    }

    .hero__ingress {
        max-width: 22rem;
    }
}

/* 1024 PX */

@media screen and (max-width: 1024px) {

    .site-header .menu,
    .site-header .icons {
        display: none;
    }

    .menu-button {
        display: block;
        border: none;
        background: none;
        z-index: 99;
        cursor: pointer;
    }

    .hero__content {
        margin-top: 7rem;
    }
    
    .hero__ingress {
        max-width: 20rem;
    }

    .hero__buttons {
        gap: 1rem;
    }

    .button-green,
    .button-white {
        padding: 10px 20px;
    }

}

/* 900 PX */

@media screen and (max-width: 900px) {

    .hero__title {
        max-width: 28rem;
    }

    /* Ändra sunglasses slides antal visningar per sida */
}


/* 550 PX */

@media screen and (max-width: 550px) {

    /* .hero__content{
        margin-top: 2rem;
        margin-left: 1rem;
    } */

    .site-header {
        padding: 0 32px;
    }

    .hero__title {
        font-size: var(--font-size-4);
        max-width: 20rem;
    }

    .hero__ingress {
        font-size: 16px;
        margin-top: 1.5rem;
    }

    .hero__buttons {
        flex-direction: column;
        max-width: 170px;
        text-align: center;
        margin-top: 2rem;
    }

    .button-green,
    .button-white {
        margin-top: 0;
    }
}

/* 400 PX */

@media screen and (max-width: 400px) {

}