/* Reset */

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
}

/* Custom properties */

:root {

    /* Color scheme */
    --color-white: #fff;
    --color-grey: #444;
    --color-dark-grey: #222;
    --color-turquoise: #014040;
    --color-dark-turquoise: #012326;
    --color-light-green: #9FC131;
    --color-dark-green: #84A314;
    
    /* Fonts */
    --font-size: 16px;
    --font-scale: 1.333;

    /* Font Scale */
    --font-size-1: var(--font-size); /*16px*/
    --font-size-2: calc(var(--font-size-1 * --font-scale)); /*21.33px*/
    --font-size-3: calc(var(--font-size-2 * --font-scale)); /*28.43px*/
    --font-size-4: calc(var(--font-size-3 * --font-scale)); /*37.9px*/
    --font-size-5: calc(var(--font-size-4 * --font-scale)); /*50.52px*/
    --font-size-6: calc(var(--font-size-5 * --font-scale)); /*67.34px*/
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-sans);
}

h1 {
    font-size: var(--font-size-6);
}

h2 {
    font-size: var(--font-size-5);
}

h3 {
    font-size: var(--font-size-4);
}

h4 {
    font-size: var(--font-size-3);
}

h5 {
    font-size: var(--font-size-2);
}

h6 {
    font-size: var(--font-size-1);
}

/* Body img */

body {
    background-image: url(assets/images/hero-bg.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center -60px;
    background-repeat: no-repeat;
}

/* Header */

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 50px;    
}

/* Menu */

.menu__list,
.icon__list {
    display: flex;
    font-family: var(--font-sans);
    gap: 5rem;
    list-style: none;
}

.menu__link {
    color: var(--color-white);
    text-decoration: none;
}

/* Menu icons */

.icon__list {
    gap: 1rem;
}

/* Menu hover effects */

.menu__link:hover,
.icon__link:hover {
    border-bottom: 1px solid var(--color-light-green);
}

/* Hero layout grid */

.hero,
.sunglasses {
    display: grid;
    grid-template-columns: minmax(32px, 1fr) [inner-start] minmax(0, 97rem) [inner-end] minmax(32px, 1fr);
}

.hero__inner,
.sunglasses__inner {
    grid-column: inner;
}

/* HERO SECTION */

/* Hero content */

.hero__content {
    max-width: 65rem;
}

.hero__title {
    font-size: 89px;
    color: var(--color-white);
    line-height: 1.4;
    padding-top: 7.5rem;
    margin: 0;
}

.hero__title span,
.hero__ingress span {
    color: var(--color-light-green);
}

.hero__ingress {
    font-size: 21px;
    color: var(--color-white);
    line-height: 1.5;
    max-width: 40rem;
    margin-top: 2rem;
}

/* Hero buttons */

.hero__buttons {
    display: flex;
    gap: 2rem;
}

.button-green,
.button-white {
    margin-top: 2rem;
    margin-bottom: 5rem; /*temp*/
    padding: 15px 50px;
    text-decoration: none;
    border-radius: 5px;
    text-decoration: none;
    color: var(--color-white);
    transition: color 0.4s;
}

.button-green {
    background-color: var(--color-dark-green);
}

.button-white {
    border: 1px solid white;
}

/* Hero buttons hover effects */

.button-green:hover {
    background-color: var(--color-light-green);
}

.button-white:hover {
    background-color: var(--color-white);
    color: var(--color-dark-grey);
}

/* SUNGLASSES SECTION */

.sunglasses {
    background-color: #d9d9d9;
    padding: 20px 0;
}

.best-sellers {
    margin: 1rem 0;
    text-align: center;
    letter-spacing: 3px;
}

.swiper {
    width: 100%;
    min-height: 300px;
}

.swiper-wrapper {
    margin-bottom: 2rem;
}

.swiper-slide {
    display: flex;
    
}

.sunglasses__inner {
    position: relative;
    --swiper-navigation-sides-offset: -40px;
    --swiper-navigation-color: var(--color-dark-grey);
    --swiper-pagination-bottom: 0;
}


.sunglasses__slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* max-width: 400px; */
    min-height: 350px;
    padding: 25px;
    background-color: var(--color-white);
    border-radius: 5px;
}

.sunglasses__description {
    text-align: center;
}

.sunglasses__name {
    font-weight: bold;
}

.sunglasses__price {
    margin-bottom: 1rem;
}

.sunglasses__button {
    padding: 5px 15px;
    background-color: var(--color-light-green);
    color: var(--color-white);
    border-radius: 5px;
    text-decoration: none;
}

/* Swiper */

.swiper-button-prev,
.swiper-button-next {
    stroke: var(--color-dark-grey);
}

.swiper-button-prev {
    left: -40px;
}

.swiper-button-next {
    right: -40px;
}